@use "../abstracts/mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  &.is-loading {
    overflow: hidden !important;
    height: 100vh !important;
    height: 100svh !important;

    touch-action: none;
  }
}

html {
  font-size: 62.5%; //1rem = 10px  (10/16 = 62.5%)

  @include responsive(screen-lg) {
    font-size: 56.25%; //1rem = 9px  (9/16 = 56.25%)
  }

  @include responsive(screen-md) {
    font-size: 50%; //1rem = 8px  (8/16 = 50%)
  }

  @include responsive(screen-mobile-lg) {
    font-size: 37.5%; //1rem = 6px  (6/16 = 37.5%)
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: var(--font-primary);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "Big-Caslon";
  src: url(../../assets/fonts/big-caslon-regular.ttf) format("truetype");
  font-weight: 100;
}

body {
  font-family: "Big-Caslon";
  font-size: 1.6rem;
  background-color: var(--primary-white);
  color: var(--secondary-black);
  line-height: 1;
}

input {
  font-family: var(--font-primary);
}

input::placeholder,
input::-ms-input-placeholder,
input::-moz-placeholder {
  font-family: var(--font-primary);
  opacity: 1;
}

#master-wrap {
}
