@use "../abstracts/mixins" as *;

.drop_cap {
  font-size: 4.16rem;
  line-height: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: rgb(51, 51, 51);

  @include responsive(screen-2xl) {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }
}

.heading-arrow {
  padding: 16px 0;
  display: block;

  &__text {
    @include flex-center();
    font-size: 4rem;
    gap: 8px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;

    @include responsive(screen-lg) {
      font-size: 3.556rem;
    }

    @include responsive(screen-mobile-lg) {
      font-size: 3.167rem;
    }

    &--arrow {
      width: 3.4rem;
      padding-bottom: 2px;
      transition: all 0.5s ease-in-out;

      @include responsive(screen-lg) {
        width: 2.889rem;
      }

      @include responsive(screen-mobile-lg) {
        width: 2.667rem;
      }
    }
  }

  &:hover {
    .heading-arrow__text--arrow {
      transform: rotate(-45deg);
    }
  }
}

.heading-left {
  width: 100%;

  h1 {
    text-transform: uppercase;
    width: 40%;
    font-size: 4vw;

    @include responsive(screen-lg) {
      font-size: 5rem;
    }

    @include responsive(screen-md) {
      font-size: 5.625rem;
      width: 50%;
    }

    @include responsive(screen-mobile-lg) {
      font-size: 4.333rem;
      width: 70%;
    }
  }
}

.heading-large {
  font-size: 14.4rem;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;

  @include responsive(screen-lg) {
    font-size: 9.778rem;
  }

  @include responsive(screen-md) {
    font-size: 11rem;
  }

  @include responsive(screen-mobile-lg) {
    font-size: 6.667rem;
  }
}
