@use "../abstracts/mixins" as *;

.section_large_padding {
  padding: 0 16px 19.2rem 16px;

  @include responsive(screen-mobile-lg) {
    padding-bottom: 10.667rem;
  }
}

.section_small_padding {
  padding: 0 16px 9.6rem 16px;

  @include responsive(screen-mobile-lg) {
    padding: 0 8px 5.333rem 8px;
  }
}

.white_space_fix {
  white-space: nowrap;
}

body.is-loading {
  overflow: hidden;
}
