:root {
  // Color Palette
  --primary-white: #fff;
  --off-white: #f8f8f8;
  --secondary-black: #0a090a;
  --neutral-gray_50: #dadada;
  --neutral-gray_70: #6e6e6e;
  --white: white;
  --black: black;
  --nav-text: #212121;
  --CTA-bg: #dddddd6b;

  // Font
  --font-primary: "Big-Caslon", serif;
  --home-hero-heading-font-size-2xl: 8rem;
  --home-hero-heading-font-size-xl: 6rem;
  --home-hero-heading-font-size-lg: 4.7rem;
  --home-hero-heading-font-size-md: 5.4rem;
  --home-hero-heading-font-size-mobile: 2.8rem;
}
