@use "../abstracts/mixins" as *;

.home__hero {
  width: 100%;
  min-height: 65vh;
  background-image: url(../../assets/images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-gray_50);
  display: flex;
  align-items: center;
  margin-bottom: 6.4rem;

  @include responsive(screen-2xl) {
    height: 110svh;
  }

  @include responsive(screen-mobile-lg) {
    background-position: 80%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &__heading {
      font-size: var(--home-hero-heading-font-size-2xl);
      text-transform: uppercase;
      line-height: 1;
      margin: 13.3rem 0 4rem 1.6rem;

      @include responsive(screen-2xl) {
        font-size: var(--home-hero-heading-font-size-xl);
      }

      @include responsive(screen-lg) {
        font-size: var(--home-hero-heading-font-size-lg);
        margin-top: 9.5rem;
      }

      @include responsive(screen-md) {
        font-size: var(--home-hero-heading-font-size-md);
      }

      @include responsive(screen-mobile-lg) {
        font-size: var(--home-hero-heading-font-size-mobile);
        margin-bottom: 25rem;
      }

      &--1 {
        font-weight: 400;
        margin-left: 13rem;

        @include responsive(screen-2xl) {
          margin-left: 9.6rem;
        }

        @include responsive(screen-lg) {
          margin-left: 7.5rem;
        }

        @include responsive(screen-mobile-lg) {
          margin-left: 4.5rem;
        }
      }

      &--2 {
        font-weight: 400;
      }

      &--3 {
        font-weight: 400;
        margin-left: 13rem;

        @include responsive(screen-2xl) {
          margin-left: 9.6rem;
        }

        @include responsive(screen-lg) {
          margin-left: 7.5rem;
        }

        @include responsive(screen-mobile-lg) {
          margin-left: 4.5rem;
        }
      }
    }

    &__btn {
      position: relative;
      margin-left: 11.2rem;
      margin-bottom: 6rem;
      transition: all 0.3s ease;

      &:hover {
        .home__hero__content__btn__link__circle__wrapper {
          transform: scale(1.1);
        }
      }

      @include responsive(screen-mobile-lg) {
        margin-left: 20rem;
      }

      &__link {
        &--arrow {
          transition: all 0.3s ease;
          position: absolute;
          max-width: 31%;
          inset: 33% 0 0 33%;
          z-index: 2;
        }

        &__circle__wrapper {
          transform: scale(1);
          transition: all 0.3s ease;

          &--circle {
            width: 24rem;
            animation: spin 12s linear infinite;
            transition: all 0.3s ease;

            @include responsive(screen-mobile-lg) {
              width: 30rem;
            }
          }
        }
      }
    }
  }
}

.featured {
  &__heading {
    text-transform: uppercase;
    padding: 3.2rem;
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;

    @include responsive(screen-2xl) {
      font-size: 1.9rem;
    }
  }

  &__brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6.4rem 17.6rem;

    @include responsive(screen-lg) {
      padding: 7.1rem;
    }

    @include responsive(screen-mobile-lg) {
      padding: 2.6rem;
      gap: 4.3rem;
      flex-flow: wrap;
      place-content: stretch center;
      margin-bottom: 4rem;
    }

    &__logo:nth-child(1) {
      width: 10svw;

      @include responsive(screen-mobile-lg) {
        width: 24%;
      }
    }

    &__logo:nth-child(2) {
      width: 7svw;

      @include responsive(screen-mobile-lg) {
        width: 16%;
      }
    }

    &__logo:nth-child(3) {
      width: 10svw;

      @include responsive(screen-mobile-lg) {
        width: 23%;
      }
    }

    &__logo:nth-child(4) {
      width: 14svw;

      @include responsive(screen-mobile-lg) {
        width: 33%;
      }
    }

    &__logo:nth-child(5) {
      width: 10svw;

      @include responsive(screen-mobile-lg) {
        width: 24%;
      }
    }
  }

  &__parallax {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 128px;
    gap: 64px;
    overflow: hidden;

    @include responsive(screen-md) {
      padding-top: 96px;
    }

    @include responsive(screen-mobile-lg) {
      gap: 2.6rem;
    }

    &__img:first-child {
      width: 20%;
      will-change: transform;

      @include responsive(screen-mobile-lg) {
        width: 28%;
      }
    }

    &__img:last-child {
      width: 20%;
      min-width: 30%;
      will-change: transform;

      @include responsive(screen-mobile-lg) {
        width: 42%;
      }
    }
  }

  &__para {
    width: 50%;
    margin: 0 auto 9.6rem auto;
    font-size: 2.56rem;
    line-height: 3.6rem;
    letter-spacing: 0.032rem;

    @include responsive(screen-2xl) {
      font-size: 1.9rem;
    }

    @include responsive(screen-lg) {
      font-weight: 400;
      line-height: 2.4rem;
      width: 55%;
    }

    @include responsive(screen-md) {
      font-size: 2rem;
      line-height: 2.8rem;
    }

    @include responsive(screen-mobile-lg) {
      width: 100%;
      padding-left: 2.6rem;
      padding-right: 2.6rem;
      font-size: 2.667rem;
      line-height: 3.6rem;
    }
  }
}

.video__wrapper {
  overflow: hidden;
  height: 100svh;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    position: relative;
    top: 0;
    column-gap: 6.4rem;
    will-change: transform;

    @include responsive(screen-md) {
      column-gap: 0.667rem;
    }

    &--c1 {
      @include video-col();
    }

    &--c2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 70%;
      position: relative;
      overflow: hidden;

      @include responsive(screen-mobile-lg) {
        height: 48rem;
        width: 120%;
      }

      &__video {
        object-fit: cover;
        z-index: -100;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    &--c3 {
      @include video-col();
    }
  }
}

.editorial {
  width: 100%;
  position: relative;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 12.8rem;
    overflow: hidden;
    color: var(--neutral-gray_50);
    position: relative;
    z-index: 5;
    text-align: right;
    text-transform: uppercase;
    font-size: 12.8rem;
    line-height: 1;
    white-space: nowrap;

    @include responsive(screen-lg) {
      font-size: 8rem;
      padding-top: 7rem;
    }

    @include responsive(screen-mobile-lg) {
      font-size: 5.833rem;
      padding-top: 0rem;
    }
  }

  &__parallax {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div:not(.editorial__parallax--4) {
      display: flex;
      justify-content: center;
      gap: 9.6rem;
      width: 83%;
      will-change: transform;

      @include responsive(screen-lg) {
        width: 85%;
      }

      @include responsive(screen-md) {
        width: 90%;
      }

      @include responsive(screen-mobile-lg) {
        width: 90%;
        gap: 2.667rem;
      }
    }

    &--1 {
      align-items: flex-start;

      &--1 {
        width: 50%;
        aspect-ratio: 2/3;
        object-fit: cover;

        @include responsive(screen-mobile-lg) {
          width: 45%;
        }
      }
    }

    &--2 {
      align-items: flex-start;
      justify-content: space-between !important;

      @include responsive(screen-mobile-lg) {
        padding-top: 10.667rem;
      }

      &--1 {
        aspect-ratio: 2/3;
        object-fit: cover;
        width: 37%;

        @include responsive(screen-mobile-lg) {
          width: 55%;
        }
      }

      &--2 {
        aspect-ratio: 2/3;
        object-fit: cover;
        width: 37%;

        @include responsive(screen-mobile-lg) {
          width: 41%;
        }
      }
    }

    &--3 {
      align-items: flex-end;

      &--1 {
        width: 50%;
        aspect-ratio: 2/3;
        object-fit: cover;

        @include responsive(screen-mobile-lg) {
          width: 49%;
        }
      }

      &--2 {
        width: 25%;
        aspect-ratio: 2/3;
        object-fit: cover;

        @include responsive(screen-mobile-lg) {
          width: 31%;
        }
      }
    }

    &--4 {
      padding: 0 1.6rem;
      width: 100%;
      position: relative;
      z-index: 100;
      mix-blend-mode: difference;
      will-change: transform;

      &__heading {
        text-align: center;

        span {
          position: relative;
          z-index: 200;
          color: var(--white);
          font-size: 10vw;
          text-transform: uppercase;

          @include responsive(screen-lg) {
            font-size: 80px;
          }

          @include responsive(screen-mobile-lg) {
            font-size: 5.667rem;
          }
        }
      }
    }

    &--5 {
      align-items: flex-start;

      @include responsive(screen-mobile-lg) {
        padding-top: 20rem;
      }

      &--1 {
        aspect-ratio: 2/3;
        object-fit: cover;
        width: 37%;
      }

      &--2 {
        aspect-ratio: 2/3;
        object-fit: cover;
        width: 37%;

        @include responsive(screen-mobile-lg) {
          width: 51%;
        }
      }
    }
  }
}

.discover {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
  margin: 0;
  will-change: transform;

  &__card {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--secondary-black);
    color: var(--neutral-gray_50);
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;

    @include responsive(screen-lg) {
      flex-direction: column;
    }

    &__left {
      width: 50%;
      height: 100%;

      @include responsive(screen-lg) {
        width: 100%;
        height: 200%;
        overflow: hidden;
      }

      @include responsive(screen-mobile-lg) {
        height: 300%;
      }

      img {
        object-fit: fill;
        height: 100%;
        width: auto;
        position: relative;

        @include responsive(screen-lg) {
          top: -100%;
          width: 100%;
          height: auto;
        }

        @include responsive(screen-mobile-lg) {
          top: 0;
        }
      }
    }

    &__right {
      display: flex;
      justify-content: center;
      height: 100%;
      width: auto;

      @include responsive(screen-lg) {
        width: 100%;
        padding: 16px 0;
      }

      @include responsive(screen-mobile-lg) {
        padding: 0;
        width: 100%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 16px;
        width: 75%;

        @include responsive(screen-lg) {
          width: 98%;
        }

        &__heading {
          &__text {
            font-size: 8rem;
            text-transform: uppercase;

            @include responsive(screen-2xl) {
              font-size: 5vw;
            }

            @include responsive(screen-lg) {
              font-size: 2.4rem;
            }

            @include responsive(screen-mobile-lg) {
              font-size: 3.5rem;
            }
          }
        }

        &__body {
          padding: 3.2rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          @include responsive(screen-lg) {
            padding: 0;
          }

          &__para {
            width: 55%;
            line-height: 3.1rem;
            font-size: 2.2rem;

            @include responsive(screen-2xl) {
              font-size: 1.6rem;
              line-height: 2.2rem;
              width: 60%;
            }

            @include responsive(screen-lg) {
              font-size: 1.556rem;
              width: 40%;
            }

            @include responsive(screen-mobile-lg) {
              font-size: 2.167rem;
              width: 60%;
              line-height: 3rem;
            }
          }
        }
      }
    }
  }

  &__card--1 {
    z-index: 1;
  }

  &__card--2 {
    z-index: 2;
  }

  &__card--3 {
    z-index: 3;
  }
}

.stories {
  padding-top: 6.4rem;
  max-width: 80%;
  margin: 0 auto;

  @include responsive(screen-mobile-lg) {
    width: 100%;
    max-width: none;
  }

  .stories__sign {
    margin: 16rem 0 6rem 0;

    @include responsive(screen-lg) {
      margin-bottom: 3rem;
    }

    &__img {
      @include flex-center();
      width: 100%;

      img {
        width: 36rem;
        object-fit: fit;
        margin: 2rem auto 0 46%;

        @include responsive(screen-2xl) {
          margin-left: 40%;
        }

        @include responsive(screen-lg) {
          margin: 0 auto 0 40%;
          width: 300px;
        }

        @include responsive(screen-md) {
          margin-left: 30%;
        }

        @include responsive(screen-mobile-lg) {
          width: 41rem;
          margin-left: 25%;
        }
      }
    }
  }

  &__para {
    display: flex;
    justify-content: end;

    p {
      width: 30%;
      font-size: 2.56rem;
      letter-spacing: 0.32px;
      line-height: 1.4;

      @include responsive(screen-2xl) {
        font-size: 1.92rem;
      }

      @include responsive(screen-lg) {
        font-size: 16px;
        width: 50%;
      }

      @include responsive(screen-mobile-lg) {
        width: 100%;
        padding: 0 2.667rem;
      }
    }
  }

  &__about-btn {
    display: flex;
    justify-content: end;
    padding: 6.4rem;

    @include responsive(screen-mobile-lg) {
      justify-content: center;
    }
  }

  &__parallax {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @include responsive(screen-mobile-lg) {
      justify-content: space-between;
      align-items: center;
      padding-bottom: 13.333rem;
      gap: 2.667rem;
    }

    &--1 {
      width: 40%;
      will-change: transform;

      @include responsive(screen-mobile-lg) {
        width: 44%;
      }
    }

    &--2 {
      width: 30%;
      min-width: 30%;
      position: relative;
      right: 5%;
      aspect-ratio: 2/3;
      object-fit: cover;
      will-change: transform;

      @include responsive(screen-mobile-lg) {
        width: 50%;
        right: auto;
      }
    }
  }

  &__CTA {
    padding: 9.6rem 0;
    @include flex-center();

    @include responsive(screen-mobile-lg) {
      padding: 6.667rem 0;
    }
  }
}

.stories__slider {
  width: 100%;
  overflow: hidden;
  padding-bottom: 6.4rem;

  &__wrapper {
    display: flex;
    gap: 8px;
    max-width: max-content;
    will-change: transform;

    &__img {
      width: 30%;
      min-width: 30%;
      object-fit: cover;
    }
  }
}

.portfolio {
  &__link {
    margin-bottom: 14rem;
  }

  &__content {
    width: 100%;
    height: 100svh;
    padding: 0 16px;
    @include flex-center();
    gap: 9.6rem;

    @include responsive(screen-lg) {
      gap: 32px;
    }

    @include responsive(screen-mobile-lg) {
      height: auto;
      gap: 0;
      padding: 0 8px;
    }

    &__img {
      overflow: hidden;
      width: 32vw;

      @include responsive(screen-mobile-lg) {
        display: none;
      }

      img {
        width: auto;
        height: 76svh;
        object-fit: cover;
      }
    }

    &__nav {
      height: 70svh;
      align-self: center;
      @include flex-center();
      flex-direction: column;
      overflow: visible;

      @include responsive(screen-mobile-lg) {
        height: auto;
      }

      &__link {
        display: block;
        border-top: 1px solid var(--neutral-gray_50);
        width: 100%;

        &:last-child {
          border-bottom: 1px solid var(--neutral-gray_50);
        }

        @include responsive(screen-mobile-lg) {
          padding: 32px 0;
          overflow: hidden;
        }

        &__content {
          height: 15svh;
          width: 100%;
          padding: 3.2rem 1.6rem;
          display: flex;
          align-items: center;
          gap: 48px;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateX(5%);
          }

          @include responsive(screen-lg) {
            padding: 0 1.6rem;
            height: 8svh;
          }

          @include responsive(screen-mobile-lg) {
            gap: 24px;
            height: auto;
            flex-direction: column;
            padding: 0;
            text-align: center;

            &:hover {
              transform: translateX(3%);
            }
          }

          &__index {
            align-self: flex-start;
            padding-top: 30px;
            font-size: 3.2rem;
            font-weight: 700;

            @include responsive(screen-2xl) {
              padding-top: 0;
              margin-top: -10px;
            }

            @include responsive(screen-lg) {
              font-size: 16px;
              margin-top: 10px;
            }

            @include responsive(screen-mobile-lg) {
              font-size: 19px;
              line-height: 23px;
              width: 100%;
              margin-top: 0;
            }
          }

          &__text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-weight: 700;

            h2 {
              text-transform: uppercase;
              font-size: 3.2rem;
              line-height: 1;
              white-space: nowrap;
              font-weight: 700;

              @include responsive(screen-lg) {
                font-size: 16px;
              }

              @include responsive(screen-mobile-lg) {
                font-size: 19px;
                line-height: 23px;
              }
            }

            span {
              font-size: 2.4rem;
              letter-spacing: 3.2px;
              color: var(--neutral-gray_70);
              text-transform: uppercase;

              @include responsive(screen-lg) {
                font-size: 13px;
              }
            }
          }

          img {
            display: none;

            @include responsive(screen-mobile-lg) {
              display: block;
            }
          }
        }
      }
    }
  }
}

.passport {
  padding: 12.8rem 0;

  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 0 16px;

    @include responsive(screen-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(screen-mobile-lg) {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
      padding: 0 8px;
    }

    &__month {
      text-transform: uppercase;

      @include responsive(screen-mobile-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        align-items: center;
      }

      &__heading {
        font-size: 32px;

        @include responsive(screen-mobile-lg) {
          grid-column: 1/-1;
          font-size: 3.167rem;
        }
      }

      &__img {
        max-width: 100%;
        overflow: hidden;

        img {
          aspect-ratio: 3/4;
          object-fit: cover;
          transform: scale(1.05);
        }
      }

      &__subheadings {
        margin-top: 20px;

        @include responsive(screen-mobile-lg) {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }

        h3 {
          font-size: 3.2rem;
          text-transform: capitalize;
          white-space: nowrap;

          @include responsive(screen-lg) {
            font-size: 2.333rem;
          }

          @include responsive(screen-md) {
            font-size: 2.625rem;
            line-height: 2.625rem;
          }
          @include responsive(screen-mobile-lg) {
            font-size: 3.167rem;
            line-height: 3.833rem;
          }
        }
      }
    }
  }
}
