.book-CTA {
  position: fixed;
  z-index: 1000;
  top: 45%;
  right: 0;
  background: var(--CTA-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  height: 105px;
  width: 105px;
  overflow: hidden;
  transition: height 0.5s ease 0.1s;

  &__arrow {
    width: 56px;
    margin: 17px auto;
  }

  &__text {
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
    transform: translateX(120%);
    opacity: 0;
    transition: none;
  }

  &:hover {
    height: 125px;
    transition: height 0.5s ease 0s;

    .book-CTA__text {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
    }
  }
}
