@use "../abstracts/mixins" as *;

.discover__btn {
  height: 20rem;
  width: 20rem;
  border: 1px solid var(--neutral-gray_50);
  border-radius: 100%;
  @include flex-center();
  font-size: 2.4rem;
  gap: 1rem;
  text-transform: uppercase;

  @include responsive(screen-lg) {
    height: 18rem;
    width: 18rem;
  }

  @include responsive(screen-mobile-lg) {
    height: 14.667rem;
    width: 14.667rem;
    font-size: 1.833rem;
  }

  img {
    width: 1.6rem;
    transition: all 0.5s ease;

    @include responsive(screen-mobile-lg) {
      width: 1.333rem;
    }
  }

  &:hover {
    img {
      transform: rotate(-45deg);
      transition: all 0.5s ease;
    }
  }
}
