@use "../abstracts/mixins" as *;

.invest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 9.6rem;

  @include responsive(screen-mobile-lg) {
    padding: 0 5.333rem;
    gap: 0;
  }

  &__form {
    padding-top: 9.6rem;
    margin-bottom: 15px;
    width: 81vw;
    font-size: 1.9rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    @include responsive(screen-lg) {
      width: 95svw;
    }

    @include responsive(screen-mobile-lg) {
      font-size: 2.167rem;
      padding-top: 2.667rem;
      width: 63svw;
    }

    &__header {
      margin-bottom: 32px;
    }

    &__body {
      @include flex-center();
      row-gap: 16px;
      column-gap: 8px;
      flex-flow: wrap;

      label {
        margin-bottom: 5px;
        display: block;
      }

      @include responsive(screen-mobile-lg) {
        flex-direction: column;
        row-gap: 0;
      }

      &__input {
        outline: none;
        border: none;
        border-bottom: 1px solid #ccc;
        width: 28.8rem;
        height: 38px;
        padding: 8px 12px;
        display: block;
        margin-bottom: 8px;
        text-align: center;
        color: var(--neutral-gray_70);
        font-size: 1.9rem;

        @include responsive(screen-mobile-lg) {
          font-size: 2.167rem;
          margin-bottom: 24px;
        }

        &::placeholder {
          text-transform: uppercase;
          color: var(--neutral-gray_50);
        }

        &:focus {
          border-bottom: 1px solid var(--neutral-gray_70);
        }
      }
    }

    &__footer {
      padding: 16px;
    }

    &__send {
      padding: 9.6rem;
      @include flex-center();

      @include responsive(screen-mobile-lg) {
        padding: 16px 48px;
      }
    }
  }
}
