@use "../abstracts/mixins" as *;

.section {
  .section__top {
    padding: 0 16px 19.2rem 16px;

    @include responsive(screen-mobile-lg) {
      padding-bottom: 10.667rem;
    }

    &__heading {
      width: 100%;

      &__text {
        text-transform: uppercase;
        width: 40%;
        font-size: 4vw;

        @include responsive(screen-lg) {
          font-size: 5rem;
        }

        @include responsive(screen-md) {
          font-size: 5.625rem;
          width: 50%;
        }

        @include responsive(screen-mobile-lg) {
          font-size: 4.333rem;
          width: 70%;
        }
      }
    }

    &__para {
      width: 28%;
      font-size: 2.6rem;
      margin: 0 auto 0 40%;
      display: flex;
      flex-direction: column;
      gap: 4.2rem;
      line-height: 3.6rem;

      @include responsive(screen-2xl) {
        font-size: 1.9rem;
        line-height: 2.7rem;
        gap: 2.5rem;
        margin-top: 5rem;
      }

      @include responsive(screen-lg) {
        margin-top: 12rem;
        width: 51%;
        font-size: 16px;
        line-height: 22px;
      }

      @include responsive(screen-md) {
        width: 48%;
      }

      @include responsive(screen-mobile-lg) {
        width: 100%;
        margin: 5rem 0 0 0;
      }
    }
  }
}
